body{
  background:#0f172a;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.app{
  background:#020617;
  color:white;
  padding:30px;
  border-radius:12px;
  width:300px;
}

input{
  width:100%;
  padding:8px;
  margin-bottom:10px;
}

button{
  padding:8px 16px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  margin-bottom:10px;
}

ul{
  list-style:none;
  padding:0;
}

li{
  padding:6px 0;
  display:flex;
  justify-content:space-between;
}
